package pages

import (
	"github.com/Peterwmoss/LiCa/internal/templates/shared"
	"github.com/Peterwmoss/LiCa/internal/templates/partials"
	"github.com/Peterwmoss/LiCa/internal/domain"
)

templ HomePage(user domain.User) {
	@shared.Page("Home") {
    @partials.User(user)
	}
}
