{{ block "listsWrapper" . }}
  <div>
    <p>Dine indkøbslister</p>
    <button hx-get="/actions/new-list" hx-target="#lists" hx-swap="afterbegin">+</button>
    <div id="lists" hx-trigger="load" hx-get="/lists" />
  </div>
{{ end }}

{{ block "new_list" . }}
  <div>
    <input name="list-name" placeholder="Listenavn..."/>
    <button hx-post="/lists" hx-include="[name='list-name']" hx-target="#lists" hx-swap="beforeend" hx-on:htmx:response-error="handleError(event)">Create</button>
  </div>
{{ end }}

{{ block "lists" . }}
  {{ range . }}
    {{ template "list-item" . }}
  {{ end }}
{{ end }}

{{ block "list-item" . }}
    <div hx-get="/lists/{{ .Id }}" hx-target="main" hx-push-url="true">
      <p>{{ .Name }}</p>
    </div>
{{ end }}

{{ block "list" . }}
  {{ .Name }}
  {{ range .Items }}
    <div>
      <p>{{ .Name }}</p>
      <p>{{ .Category }}</p>
    </div>
  {{ end }}
{{ end }}
